<!DOCTYPE html>
<html lang="en">
<style>
   

    .col-md-12 {
        border: 1px solid lightgray;
        padding: 25px;
        align-self: center;
        border-radius: 3px;
    }
</style>
<div class="container">
    {{#each datas}}
    <div class="col-md-12" style="margin : 0 auto">
        <header>
            <h2>{{title}}</h2>
            <h6>{{year}}/{{month}}/{{hour}}/{{minute}}</h1>
        </header>
        <p>{{{content}}}</p>
    </div>
    <br>
    {{/each}}
</div>
</html>